/* header section */

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 999;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
}

#header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    /* border: 1px solid #2c2f3f; */
}

#header .profile h1,
#header .profile h1 a {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: 'poppins', sans-serif;
}

#header .profile a {
    font-size: 30px;
    padding-top: 20px;
    transition: all 0.5s;
}

#header .profile a :hover {
    transition: all 0.5s;
}


/* main {
    margin: 0;
    padding: 0%;
}

html {
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0%;
    padding: 0%;
}

.listSide {
    float: left;
    width: 20vw;
    background-color: rgb(0, 0, 0);
}

.dps {
    justify-content: center;
    align-items: center;
    display: flex;
}

.imageSp {
    border-radius: 50%;
    overflow: hidden;
}

.nameBar {
    text-align: center;
}

.nam {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.9;
    max-width: 80%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 300;
} */